form {
  display: flex;
  justify-content: space-evenly;
}

form > div {
  display: flex;
  flex-direction: column;
}

.form-results {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}

.form-results .column {
  display: flex;
  flex-direction: column;
}

.column .bar {
  background: black;
}

.column .value {
  text-align: center;
}

.column .name {
  text-transform: uppercase;
  font-weight: bold;
}